/* styles.css */

.main-text {
    background-color: #1A1A1D;
    color: #950740;
    font-family: "Courier New", monospace;
}

h1, h2, h3, h4{
    color: #C3073F;
}

.special-text {
    color: #6f2232;
}

.listBox {
    background-color:#151515;
    border: 2px solid #4E4E50;
    padding: 30px;
    margin: 0px;
    max-width: 240px;
    box-sizing: border-box;


}